/* COLOR SCHEMA
    - #fcefe9
    - #ecebec
    - #c8bcb4
    - #fcfcf9
    - #704f5b 
    - #A8A196
 */

body {
    font-family: 'Playfair Display', serif;
    background-color: #fcefe9;

    // HEADER
    .headerMgmt {
        background-color: #704f5b;

        .navbar {
            padding: 1rem 0;

            .container {
                .navbar-brand {
                    color: #fcfcf9;
                    font-size: 2rem;
                    font-weight: 500;
                }

                .collapse {
                    justify-content: end;

                    .navbar-nav {
                        .nav-link {
                            color: rgba(252, 252, 247, 0.6);
                            font-size: 1.2rem;
                            padding: 1rem;
                            transform: scale(1);
                            transition: all .3s ease-in-out;

                            &.active {
                                color: #fcfcf9;
                            }

                            &:hover {
                                color: #fcfcf9;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }

    // TABLE MGMT
    .tableMgmt {
        margin-top: 3rem;

        .container {
            .table_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #c8bcb4;
                color: #704f5b;
                border-radius: 1rem 1rem 0 0;

                h4 {
                    margin-bottom: 0;
                    font-size: 1.75rem;
                    padding: 2rem 1rem;
                    text-transform: capitalize;
                }

                .table_settings {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding-right: 1rem;

                    .dropdown {
                        margin-right: 0.5rem;

                        .dropdown-toggle {
                            background-color: #704f5b;
                            color: #fcfcf9;
                            border: none;
                            transform: translateX(0);
                            transition: all .3s ease-in-out;

                            &:hover {
                                background-color: rgba(110, 78, 90, 0.8);
                                transform: translateY(3px);
                            }
                        }
                    }

                    .btnAdd {
                        button.btn {
                            background-color: #704f5b;
                            color: #fcfcf9;
                            border: none;
                            transform: translateX(0);
                            transition: all .3s ease-in-out;

                            &:hover {
                                background-color: rgba(110, 78, 90, 0.8);
                                transform: translateY(3px);
                            }
                        }
                    }
                }
            }

            .table-striped {
                thead {
                    tr {
                        th {
                            font-size: 1.2rem;
                        }
                    }
                }

                tbody#tbHumanMgmt {}
            }
        }
    }

    // MODAL ADD 
    .modalAdd {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    justify-content: center;
                    background-color: #fcefe9;

                    .modal-title {
                        font-size: 2rem;
                        color: #704f5b;
                        font-weight: 500;
                    }
                }

                .modal-body {
                    background-color: #fcfcf9;
                    padding: 1.5rem;

                    #myForm {
                        .form-group {
                            margin: 1rem 0;

                            .input-group {
                                height: 3rem;

                                .input-group-prepend {
                                    .input-group-text {
                                        height: 3rem;
                                        width: 3rem;
                                        justify-content: center;
                                        background-color: #fcefe9;
                                        border-radius: 5px 0 0 5px;

                                        i {
                                            font-size: 1.3rem;
                                            color: #704f5b;
                                        }
                                    }
                                }

                            }

                            .noti-field {
                                color: #BE3144;
                            }
                        }
                    }
                }

                .modal-footer {
                    background-color: #fcfcf9;
                }
            }
        }
    }

    // MODAL DETAIL 
    .modalDetail {
        .modal-dialog {
            .modal-content {

                .modal-header {
                    justify-content: center;

                    .modal-title {
                        color: #704f5b;
                        font-size: 2rem;
                    }
                }

                .modal-body {
                    .detailDiv {
                        background-color: #fcefe9;
                        margin-bottom: 1rem;
                        padding: 1rem;

                        p {
                            margin-bottom: 1rem;
                            padding-left: 0;
                        }
                    }

                    .detailAbout {
                        p {
                            &:nth-child(2) {
                                color: #704f5b;
                                font-size: 1.3rem;
                            }
                        }
                    }

                    .detailContact {
                        .detailContent {
                            display: flex;

                            .detailEmail {
                                margin-right: 4rem;

                                p {
                                    margin-bottom: 0;

                                    &:nth-child(2) {
                                        color: #704f5b;
                                    }
                                }
                            }

                            .detailAddress {
                                margin-left: 4rem;

                                p {
                                    margin-bottom: 0;

                                    &:nth-child(2) {
                                        color: #704f5b;
                                    }
                                }
                            }
                        }
                    }

                    .detailType {
                        button {
                            border-radius: 30px;
                        }
                    }

                    .detailInfo {
                        margin: 0;

                        .detailItem {
                            margin-bottom: 1rem;
                            padding-left: 0;

                            p {
                                margin-bottom: 0;

                                &:nth-child(2) {
                                    color: #704f5b;
                                }
                            }
                        }
                    }
                }

                .modal-footer {}
            }
        }
    }
}