<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BS5 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- BS Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="../css/main.min.css">

    <title>ES6 - OOP - Human Management</title>
</head>
<body>
    <!-- HEADER -->
    <header class="headerMgmt">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <i class="bi bi-stack-overflow"></i>
                    M•G•M•T
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link" href="#">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- TABLE -->
    <div class="tableMgmt">
        <div class="container">
            <div class="table_title">
                <h4>research & teaching institution management</h4>
                <div class="table_settings">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-funnel-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">By type</a></li>
                            <li><a class="dropdown-item" href="#">By name ascending</a></li>
                            <li><a class="dropdown-item" href="#">By name descending</a></li>
                        </ul>
                    </div>
                    <div class="btnAdd">
                        <!-- Modal trigger button -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Add Person
                        </button>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Type</th>
                        <th scope="col">Settings</th>
                    </tr>
                </thead>
                <tbody id="tbHumanMgmt" class="table-group-divider">
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODAL ADD -->
    <div class="modal fade modalAdd" id="myModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
        aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Register</h5>
                </div>
                <div class="modal-body">
                    <form role="form" id="myForm">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
									<span class="input-group-text">
                                        <i class="bi bi-person-vcard"></i>
                                    </span>
								</div>
								<input type="number" name="id" id="id" class="form-control input-sm"
									placeholder="ID">
                            </div>

                            <span class="noti-field" id="notiId"></span>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
									<span class="input-group-text">
                                        <i class="bi bi-person-circle"></i>
                                    </span>
								</div>
								<input type="text" name="username" id="userName" class="form-control input-sm"
									placeholder="Person's Name">
                            </div>

                            <span class="noti-field" id="notiName"></span>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
									<span class="input-group-text">
                                        <i class="bi bi-envelope-at"></i>
                                    </span>
								</div>
								<input type="text" name="email" id="email" class="form-control input-sm"
									placeholder="Email">
                            </div>

                            <span class="noti-field" id="notiEmail"></span>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
									<span class="input-group-text">
                                        <i class="bi bi-pin-map-fill"></i>
                                    </span>
								</div>
								<input type="text" name="address" id="address" class="form-control input-sm"
									placeholder="Address">
                            </div>

                            <span class="noti-field" id="notiAddress"></span>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
									<span class="input-group-text">
                                        <i class="bi bi-briefcase"></i>
                                    </span>
								</div>
								<select class="form-control" name="type" id="typePerson">
                                    <option>Choose person's type</option>
                                    <option value="student">Student</option>
                                    <option value="employee">Employee</option>
                                    <option value="customer">Customer</option>
                                </select>
                            </div>

                            <span class="noti-field" id="notiType"></span>
                        </div>

                        <!-- Student -->
                        <div id="inputMath" class="form-group student" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-calculator"></i>
                                    </span>
                                </div>
                                <input type="number" name="math" id="math" min="0" max="10" class="form-control input-sm"
                                    placeholder="Math's Score">
                            </div>
                        
                            <span class="noti-field" id="notiMath"></span>
                        </div>
                        
                        <div id="inputPhysics" class="form-group student" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-binoculars"></i>
                                    </span>
                                </div>
                                <input type="number" name="physics" id="physics" min="0" max="10" class="form-control input-sm"
                                    placeholder="Physics's Score">
                            </div>
                        
                            <span class="noti-field" id="notiPhysics"></span>
                        </div>
                        
                        <div id="inputChemistry" class="form-group student" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-radioactive"></i>
                                    </span>
                                </div>
                                <input type="number" name="chemistry" id="chemistry" min="0" max="10" class="form-control input-sm"
                                    placeholder="Chemistry's Score">
                            </div>
                        
                            <span class="noti-field" id="notiChemistry"></span>
                        </div>

                        <!-- Employee -->
                        <div id="inputWorkingDay" class="form-group employee" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-calendar3"></i>
                                    </span>
                                </div>
                                <input type="number" name="workingDay" id="workingDay" min="0" max="31" class="form-control input-sm"
                                    placeholder="Working Days">
                            </div>
                        
                            <span class="noti-field" id="notiWorkingDay"></span>
                        </div>

                        <div id="inputWage" class="form-group employee" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-cash-coin"></i>
                                    </span>
                                </div>
                                <input type="number" name="dailyWage" id="dailyWage" class="form-control input-sm"
                                    placeholder="Daily Wage">
                            </div>
                        
                            <span class="noti-field" id="notiDailyWage"></span>
                        </div>

                        <!-- Customer -->
                        <div id="inputCompany" class="form-group customer" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-building"></i>
                                    </span>
                                </div>
                                <input type="text" name="companyName" id="companyName" class="form-control input-sm"
                                    placeholder="Company Name">
                            </div>
                        
                            <span class="noti-field" id="notiCompanyName"></span>
                        </div>

                        <div id="inputInvoice" class="form-group customer" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-receipt"></i>
                                    </span>
                                </div>
                                <input type="number" name="invoiceValue" id="invoiceValue" class="form-control input-sm"
                                    placeholder="Invoice Value">
                            </div>
                        
                            <span class="noti-field" id="notiInvoice"></span>
                        </div>

                        <div id="inputReview" class="form-group customer" style="display: none;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-chat-heart"></i>
                                    </span>
                                </div>
                                <input type="text" name="review" id="review" class="form-control input-sm"
                                    placeholder="Review">
                            </div>
                        
                            <span class="noti-field" id="notiReview"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="addPerson()" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Detail -->
    <div class="modal fade modalDetail" id="myDetail" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Detail</h1>
                </div>
                <div class="modal-body">
                    <div class="detailDiv detailAbout">
                        <p>About</p> 
                        <p>Joseph Alina</p>
                    </div>
                    <div class="detailDiv detailContact">
                        <p>Contact</p>
                        <div class="detailContent">
                            <div class="detailEmail">
                                <p>Email</p>
                                <p>abc@gmail.com</p>
                            </div>
                            <div class="detailAddress">
                                <p>Address</p>
                                <p>123 abc</p>
                            </div>
                        </div>
                    </div>
                    <div class="detailDiv detailType">
                        <p>Type</p>
                        <button class="btn btn-info">employee</button>
                    </div>
                    <div class="row detailDiv detailInfo">
                        <!-- Student -->
                        <p>Additional Information</p>
                        <div class="col-4 detailItem detailMath">
                            <p>Math</p>
                            <p>8</p>
                        </div>
                        <!-- <div class="col-4 detailItem detailMath">
                            <p>Math</p>
                            <p>8</p>
                        </div>
                        <div class="col-4 detailItem detailMath">
                            <p>Math</p>
                            <p>8</p>
                        </div>
                        <div class="col-4 detailItem detailAverage">
                            <p>Average Score</p>
                            <p>8</p>
                        </div> -->

                        <!-- employee -->
                        <!-- <div class="detailWorkDay">
                            <p>Average Score</p>
                            <p>8</p>
                        </div>
                        <div class="detailWage">
                            <p>Average Score</p>
                            <p>8</p>
                        </div> -->

                        <!-- customer -->
                        <!-- <div class="detailCompany">
                            <p>Average Score</p>
                            <p>8</p>
                        </div>
                        <div class="detailInvoice">
                            <p>Average Score</p>
                            <p>8</p>
                        </div>
                        <div class="detailReview">
                            <p>Average Score</p>
                            <p>8</p>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- BS5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- My Index JS -->
    <script type="module" src="../controllers/index.js"></script>
</body>
</html>